/* Global Styles */

:root {
  --background-color: #222222;
  --border-color: rgb(255, 123, 0);
  --text-color: gold;
  --button-color: red;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: 'Press Start 2P', cursive;
}

/* Duel Page Styles */

body.duel {
  display: flex;
  flex-direction: column;

  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
}

.monitor {
  background: 
  url("../imgs/duel-background.png") no-repeat center bottom;
  background-size: cover;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100vw;
  height: 80vh;
  line-height: 1.5rem;
}

.duel-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 60%;
}

#sprite-container > img {
  position: absolute;
  z-index: 0;
  top: 38%;
  left: 38%;
  height: 50%;
}

#player-bar, #computer-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  width: 41%;
  background-color: bisque;
  border-radius: 10px;
  border: 3px solid var(--border-color);
  margin: 2% auto;
  padding: 1%;
  z-index: 1;
}

#player-bar > div, #computer-bar > div {
  margin: auto 1%;
}

#player-bar {
  visibility: hidden;
}

  .monitor-left, .monitor-right {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.monitor-left {
  justify-content: flex-end;
  margin-bottom: 1%;
}

.monitor-right {
  justify-content: space-between;
  text-align: right;
  margin-top: 1%;
  margin-bottom: 1%;
}

.baron-bucket > img {
  margin: 4%;
  align-items: center;
}

.life-ui {
  width: 80%;
  text-align: left;
}

.lives-bucket > img {
  margin: 4%;
}

.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color);
  border-top: solid var(--border-color);
  width: 100vw;
  height: 20vh;
  z-index: 2;
}

hr {
  border: 2px solid var(--text-color);
  width: 100%;
}

#orange-btn {
  background-image: url('../imgs/btn-orange-default.png');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height:150px;
  width: 150px;
  margin-right: 0.5vw;
}

#orange-btn:active {
  background-image: url('../imgs/btn-orange-active.png');
}

#blue-btn {
  background-image: url('../imgs/btn-blue-default.png');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height:150px;
  width: 150px;
  margin-left: 0.5vw;
}

#blue-btn:active {
  background-image: url('../imgs/btn-blue-active.png');
}

.game-splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.7);
  padding: 20%;
  line-height: 3rem;
  position: fixed;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  z-index: 3;
}

#splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: 60%;
  width: 60%;
}

#splash-container > button {
  display: none;
}

/* Index Styles */

body.home {
  background: 
  url('../imgs/homescreen background.png') no-repeat center center fixed;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  height: 75vh;
  width: 50vh;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.5em;
  color: gold;
  text-shadow: 3px 3px 5px darkred;
}

img, img.main {
  max-width: 100%;
  max-height: 100%;
}

img.main {
  border: 3px solid rgb(255, 123, 0);
}

/* Beginning of Modal -> "Create a Modal (Popup) with HTML/CSS and JavaScript" - https://youtu.be/XH5OW46yO8I */

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #222222;
  border-radius: 5px;
  border: 3px solid rgb(255, 123, 0);
  padding: 2%;
  height: 70vh;
  width: 60vw;
  min-width: 1000px;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.5rem;
}

.inner-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

#section-1, #section-2 {
  width: 45%;
}

#section-2 > img {
  justify-content: center;
  width: fit-content;
}

li {
  margin: 1rem;
}

/* End of Modal */

#start-btn, button {
  cursor: pointer;
  display: inline-flex;
  font-family: 'Press Start 2P', cursive;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  background-color: var(--button-color);
  color: var(--text-color);
  text-shadow: 3px 3px 5px darkred;
  width: 140px;
  height: 60px;
  border: 3px solid var(--border-color);
}
